/** @format */
.ask {
  width: 80vw;
  height: 90vh;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px 0 #00000014;
}
.ask-title {
  text-align: center;
}

.ask-text {
  width: 80vw;
  bottom: 20px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #fff;
  box-shadow: 0 4px 20px 0 #00000014;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border: none;
    outline: none;
  }
  img {
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    cursor: pointer;
  }
}

.chat-container {
  height: calc(100% - 140px);
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.chat-header {
  padding: 20px;
  text-align: center;
  color: #333333;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.chat-header h1 {
  height: 40px;
  line-height: 40px;
}

.chat-messages {
  height: calc(100% - 40px);
  overflow-y: auto;
}

.message {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  color: #333333;
  font-size: 14px;
}

.ai-message {
  border-radius: 5px;
  padding: 10px;
}
.ai-message p {
  max-width: 970px;
  height: auto;
  flex-shrink: 0;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #fff;
  box-shadow: 0 4px 20px 0 #0000000a;
  filter: drop-shadow(0 4px 20px #0000000a);
  margin-bottom: 40px;
}
.user-message {
  justify-content: flex-end;
}
.user-message img {
  margin-left: 10px;
}

.user-message p {
  max-width: 970px;
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.message img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
