/** @format */
#root {
  display: flex;
}
.nav {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  div,
  a {
    display: inline-block;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    border-bottom: 1px solid #dfdfdf;
  }
  div {
    background-color: #fff;
  }
  .active {
    box-shadow: 0 4px 20px 0 #00000014;
    a {
      color: aquamarine !important;
    }
  }
}
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
